<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form action="/result" method="post" style="margin-top:10%">
      <center>
        <fieldset class="card border border-dark bg-dark text-white"" style="width: 50%">
          <div class="form-group">
            <legend class="text-dark bg-warning">LOGIN</legend>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input class="input" type="text" name="txtuser" />
          </div>
          <div class="form-group">
            <label>Password</label>&nbsp
            <input class="input" type="password" name="txtpass" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning rounded-pill">
              Login
            </button>
          </div>
        </fieldset>
      </center>
    </form>
  </body>
</html>
